* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main.form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.form-header {
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.form-header h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-header p {
    font-size: 16px;
    color: #555;
}

.form-items {
    margin-bottom: 20px;
}

.form-item {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.question-box p {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-answer {
    margin-top: 10px;
}

.form-answer input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.submit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}